* {
  box-sizing: border-box;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 27px;
  font-family: @cuprum;
  font-weight: 400;
  color: #000;
  font-style: normal;
  margin: auto;
  background-color: #f0f1f2;
}



.carousel-control.left,
.carousel-control.right {
  background: none;
  filter: none;
}

.carousel__arrow {
  .carousel-control & {
    top: 35%;
  }
  &:after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 10px;
  }
  &--left:after {
    background-image: url("../img/arrow-left-icon.png");
  }
  &--right:after {
    background-image: url("../img/arrow-right-icon.png");
  }
}

.banner-page-header {
  display: none;
  text-align: center;
  background-color: #fff;
  line-height: 0;
  @media @screen-sm {
    display: block;
    padding: 20px 0;
    &__inner {
      line-height: 18px;
      display: inline-block;
      height: 44px;
      background-color: #fff;
      background-image: url("../img/banner-1-768.jpg");
      background-repeat: no-repeat;
      background-position: center;
      width: 708px;      
    }
    
  }
  @media @screen-md {
    padding: 23px 0;
    &__inner {
      height: 54px;
      background-image: url("../img/banner-1-960.jpg");
      width: 930px;
    }

  }
  @media @screen-lg {
    padding: 20px 0;
    &__inner {
      background-image: url("../img/banner-1-1170.jpg");
      width: 980px;
      height: 60px;
    }

  }
  
}

