* {
  box-sizing: border-box;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 27px;
  font-family: @cuprum;
  font-weight: 400;
  color: #000;
  font-style: normal;
  margin: auto;
  background-color: #f0f1f2;
}



.carousel-control.left,
.carousel-control.right {
  background: none;
}

.carousel__arrow {
  .carousel-control & {
    top: 35%;
  }
  &:after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 10px;
  }
  &--left:after {
    background-image: url("../img/arrow-left-icon.png");
  }
  &--right:after {
    background-image: url("../img/arrow-right-icon.png");
  }
}

