.slider {
  background-color: #fff;
  @media @screen-lg {
    background-color: #545864;
  }
  
  &__item {
    padding-top: 177px;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("../img/bg-slider-320.jpg");
    @media @screen-sm {
      padding-top: 15px;
      padding-bottom: 15px;
      background-image: url("../img/bg-slider-768.jpg");
    }
    @media @screen-md {
      padding-top: 68px;
      padding-bottom: 68px;
      background-image: url("../img/bg-slider-960.jpg");
    }
    @media @screen-lg {
      background-image: url("../img/bg-slider-1170.png");
    }
  }
  &__item .container {
    .clearfix
  }
  &__content {
    background-color: #fff;
    @media @screen-sm {
      float: right;
      width: 356px;
      padding-left: 30px;
      padding-right: 30px;
    }
    @media @screen-md {
      width: 370px;
    }
    @media @screen-lg {
      width: 400px;
    }
  }
  &__title {
    .reset;
    padding-top: 25px;
    padding-bottom: 20px;
    color: #0a1529;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    @media @screen-md {
      font-size: 24px;
    }
  }
  
  &__text {
    .reset;
    font-family: @ptsans;
    font-size: 14px;
    line-height: 20px;
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    @media @screen-md {
      font-size: 16px;
    }
  }
  &__footer {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  &__footer-link {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    color: #33478e;
  }

  & .carousel-indicators {
    bottom: auto;
    top: 130px;
    @media @screen-sm {
      top: auto;
      bottom: -8px;
      margin-left: -55%;
    }
    @media @screen-md {
      top: auto;
      bottom: -8px;
      margin-left: -30%;
    }
  }
  & .carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 0;
    @media @screen-sm {
      border-color: #000;
      &.active {
        background-color: #000;
      }
    }
    @media @screen-md {
      border-color: #fff;
      &.active {
        background-color: #fff;
      }
    }
  }

}